<style>
  .btn:hover {
  background-color: #3b82f6; /* Tailwind's bg-blue-500 */
  color: white; /* Tailwind's text-white */
  border-radius: 50%; /* Tailwind's rounded-full */
  outline: none; /* Tailwind's focus:outline-none */
  width: 50px; /* Tailwind's w-20 */
  height: 50px; /* Tailwind's h-20 */
  display: grid; /* Tailwind's grid */
  place-items: center; /* Tailwind's place-items-center */
  border: none; /* Optional: Remove default button border */
  cursor: pointer; /* Optional: Add pointer cursor on hover */
}

.btn:hover h1{
  display: none;
}

</style>


<footer class="fixed bottom-0 left-0 right-0 w-full bg-gray-200 shadow-lg z-5">
    <div class="flex justify-center">
      <div class="px-8 md:px-20 lg:px-20 w-full lg:w-2/3 bg-gray-200 shadow-lg rounded-t-lg">
        <div class="flex justify-between items-center py-2">
          <!-- Home Icon -->
          <a href="/" class="btn flex flex-col items-center">
            <button class="focus:outline-none">
              <i class="fas fa-house w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Home</h1>
          </a>
  
          <!-- Search Icon -->
          <a href="/SearchPage" class="btn flex flex-col items-center">
            <button class="focus:outline-none">
              <i class="fas fa-search w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Search</h1>
          </a>
  
          <!-- Plus Icon -->
          <a href="{% url 'web:addform' %}" class="btn flex flex-col items-center">
            <button class="focus:outline-none">
              <i class="fas fa-plus w-5 h-5"></i>
            <h1 class="hidden md:block">Add</h1>
            </button>
          </a>
  
          <!-- Star Icon -->
          <a href="/Recent" class="btn flex flex-col items-center">
            <button class="focus:outline-none">
              <i class="fas fa-star w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Recent</h1>
          </a>
  
          <!-- User Icon -->
          <a href="{% url 'web:profile' %}" class="btn flex flex-col items-center">
            <button class="focus:outline-none">
              <i class="fas fa-user w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Profile</h1>
          </a>
        </div>
      </div>
    </div>
  </footer>