<footer class="fixed bottom-0 left-0 right-0 w-full bg-gray-200 shadow-lg z-5">
    <div class="flex justify-center">
      <div class="px-8 py-4 md:px-20 lg:px-20 w-full lg:w-2/3 bg-gray-200 shadow-lg rounded-t-lg">
        <div class="flex justify-between items-center py-2">
          <!-- Home Icon -->
          <a href="/" class="flex flex-col items-center">
            <button class="focus:outline-none hover:text-blue-600">
              <i class="fas fa-house w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Home</h1>
          </a>
  
          <!-- Search Icon -->
          <a href="/SearchPage" class="flex flex-col items-center">
            <button class="focus:outline-none hover:text-blue-600">
              <i class="fas fa-search w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Search</h1>
          </a>
  
          <!-- Plus Icon -->
          <a href="/AddForm" class="flex flex-col items-center">
            <button class="bg-blue-500 text-white rounded-full focus:outline-none w-20 h-20 grid place-items-center">
              <i class="fas fa-plus w-10 h-10"></i>
            </button>
          </a>
  
          <!-- Star Icon -->
          <a href="/Recent" class="flex flex-col items-center">
            <button class="focus:outline-none hover:text-blue-600">
              <i class="fas fa-star w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Recent</h1>
          </a>
  
          <!-- User Icon -->
          <a href="/ProfilePage" class="flex flex-col items-center">
            <button class="focus:outline-none hover:text-blue-600">
              <i class="fas fa-user w-5 h-5"></i>
            </button>
            <h1 class="hidden md:block">Profile</h1>
          </a>
        </div>
      </div>
    </div>
  </footer>